body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  background-color: #282c34;
  padding: 1rem;
}

.App-header a {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}

main {
  padding: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid	#282c34;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 350px;
}

.product-info {
  padding: 1rem;
}

/*footer*/

.App-footer {
  text-align: center;
  background-color: #a3bdf0;
  padding: .5rem;
}
.App-footer a {
  color: rgb(255, 0, 76);
  font-weight: bold;
  text-decoration: none;
}

